.nav_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_container>button {
    border: none;
    outline: none;
    background-color: rgb(36, 33, 33);
    font-size: 32px;
    color: rgba(240, 89, 185, 0.632);
}

.nav_container>button>i {
    color: rgba(240, 89, 185, 0.632);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fade_in {
    animation: fadeIn 0.7s ease forwards;
}

